<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.;uid=sa;pwd=123!@#qwe;database=SHWS" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString1" connectionString="DATA SOURCE=hfwms_test;USER ID=hfwms;PASSWORD=hfwms123" providerName="System.Data.OleDb"/>
	  
  </connectionStrings>
  <appSettings>
    <add key="portNum1" value="1234"/>
    <add key="SocketIP1" value="192.192.13.145"/>
     <add key="portNum2" value="12334"/>
    <add key="SocketIP2" value="192.168.55.210"/>
	  
	  <add key="Log_path" value="E://SHWS_LOG"/>



	  <add key="PLCAdapter" value="S7Siemens"/>

	  <!-- PLC型号 西门子：SiemensS7 三菱：Melsec  基恩士：Keyence  -->
	  
	  <add key="IP" value="192.168.1.10"/>
	  <add key="Port" value="6000"/>
	  <add key="PLC_ConfigFile" value="SiemensS7.txt"/>
	  <!-- PLC需要轮询的交互变量配置文件名-->
	  <add key="PLC_ConfigFile_Other" value="Siemens_Info.txt"/>
	  <!-- PLC其他交互变量配置文件名-->
	  <add key="PLC_Adaptevalue" value="SiemensS7.txt"/>
	 

	  <add key="resolution" value="500"/>
	  <add key="SiemensS7BasedAddress" value="DB60"/>
	  <add key="SiemensS7Offset" value="482"/>
	  <!--西门子具体型号For HSLv10.5.0.0
				S1200 = 1,
				S300 = 2,
				S400 = 3,
				S1500 = 4,
				S200Smart = 5,
				S200 = 6		
		-->
	  <add key="SiemensMode" value="1"/>

	  <add key="MESBaseAddr" value="http://139.159.207.231:82/"/>
	  <add key="WCSBaseAddr" value="http://localhost:9090/"/>
	  <!--当前交互接口类型 0-WebApi 1-SecsGem-->
	  <add key="InteractionType" value="0"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
